@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-baseGray: #a3a3a3;
  --color-primary: #23453A;
  --color-secondary: #F6B600;
  --color-background: #FCF9F3;
  --color-text: #63594B;
  --color-card: #F1F0EA;

  --font-inter: "Inter";

  --text-h1: 1.25rem;
  --text-h1--font-weight: 700;
  --text-h2: 1rem;
  --text-h2--font-weight: 700;
  --text-body: 0.875rem;
  --text-buttons:  0.875rem;
}